/*
*******************
Variables
*******************
*/

:root {
  --header-h: 4.375rem;
}

/*
*******************
Body
*******************
*/
body {
  background-color: #f8f9fa;
}

/*
*******************
Header
*******************
*/

header {
  height: var(--header-h);
}

.gf-logo-small {
  width: 50px;
}

.gf-input-group > * {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

.gf-input-group input:focus {
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
}

/*
*******************
Main
*******************
*/

.main-container {
  height: calc(100vh - var(--header-h));
}

@media (min-width: 992px) {
  .gf-sidebar {
    width: 9.375rem;
  }
}
